<div class="row p-5">
  <div class="col-3">
    <div class="card bg-blue">
      <div class="card-body d-flex  justify-content-center align-items-center ">
        <div class="rounded-circle">
          <i style="font-size: 50px; color: white;" class="bi bi-person-circle"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body ">
        <div class="row align-items-center">
          <div class="col-1">
            <i style="font-size: 30px; margin-right: 10px;" class="bi bi-person-circle"></i>
          </div>
          <div class="col-11">
            <button type="button" style="width: 100%;" class="btn btn-light" (click)="openEventForm()">Quoi de neuf
              ?</button>
          </div>

        </div>
        <div class="row d-flex align-items-center">
          <div *ngFor="let item of features" class="col bg-gray rounded m-3 text-center p-2">
            {{item}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="s-card">
      <div class="d-flex  justify-content-center align-items-center top">
        <i style="font-size: 20px; margin-right: 10px;" class="bi bi-trophy-fill"></i> <span>Le nom ou le titre du
          challenge</span>
      </div>
      <div class="d-flex  justify-content-center align-items-center bg-blue-gray bottom">
        <i style="font-size: 30px; margin-right: 10px;" class="bi bi-trophy"></i>
      </div>
    </div>
  </div>

</div>


<body>

  <div class="container py-4">
    <div class="row justify-content-center">

      <div class="col-6">

        <div class="mt-3">
          <div class="card" style="height: unset;" *ngFor="let item of events$ | async; ">
            <div class="px-3 pt-4 pb-2">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <i style="font-size: 40px; margin-right: 10px;" class="bi bi-person-circle"></i>
                  <div class="">
                    <h5 class="card-title mb-0">{{item?.name}}</h5>
                    <h6 class="card-title mb-2">{{item?.organizer}}</h6>

                    <div class="d-flex align-items-center">
                      <h6 class="mt-2">{{item?.start_date}} à {{item?.start_hour}} </h6>
                      <i style="font-size: 30px; margin: 0 3px;" class="bi bi-dot mt-1"></i>
                      <a *ngIf="item?.type === 'ONLINE'" href="{{item?.link}}"><i
                        class="bi bi-link-45deg mt-2px"></i></a> 
                      <i *ngIf="item?.type === 'ONSITE'" class="bi bi-globe mt-2px"></i>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <button type="button" class="btn"><i class="bi bi-three-dots"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>